{
    "all": true,
    "cache": false,
    "exclude": [
      "**/*.d.ts"
    ],
    "extension": [
      ".ts"
    ],
    "include": [
      "build/compiled/src/**",
      "src/**"
    ],
    "reporter": "lcov"
}